<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div class="container-fluid bg-dark text-light p-5 mb-0">
      <h1 class="display-4">Novo Pedido</h1>
    </div>

    <div class="card mt-3">
      <form th:object="${requisicaoNovoPedido}" class="card-body" action="/pedido/novo" method="POST">
        <div class="form-group mb-3">
          <label for="nomeProduto">Produto</label>
          <input th:field="*{nomeProduto}" th:errorclass="is-invalid" class="form-control" placeholder="nome do produto">
          <small>Informa qual o nome do produto</small>
          <div class="invalid-feedback" th:errors="*{nomeProduto}"></div>
        </div>
        <div class="form-group mb-3">
          <label for="urlProduto">Url</label>
          <input th:field="*{urlProduto}" th:errorclass="is-invalid" class="form-control" placeholder="url do produto">
          <small>Procure em um site o produto que você deseja e cole a url da página aqui</small>
          <div class="invalid-feedback" th:errors="*{urlProduto}"></div>
        </div>
        <div class="form-group mb-3">
          <label for="urlImagem">Imagem</label>
          <input th:field="*{urlImagem}" th:errorclass="is-invalid" class="form-control" placeholder="url da imagem">
          <small>Copie a url de uma boa imagem do produto e cole aqui para ajudar a conseguir compradores</small>
          <div class="invalid-feedback" th:errors="*{urlImagem}"></div>
        </div>
        <div class="form-group mb-3">
          <label for="descricao">Descricao</label>
          <textarea th:field="*{descricao}" class="form-control" placeholder="Adicione detalhes importantes para ajudar o comprador"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Cadastrar</button>
      </form>
    </div>
  </div>
</body>
</html>